<div class='container mx-auto flex justify-center items-center h-screen'>
	<form class='w-3/5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4'>
		<div class='mb-4'>
			<h1 class='text-4xl font-semibold my-6'>Edit your Blog</h1>
			<label class='block text-gray-700 font-bold mb-2' for='title'> Title </label>
			<input
				class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'
				id='title'
				type='text'
				placeholder='Enter blog post title'
				value='{{blog.title}}'
			/>
		</div>
		<div class='mb-4'>
			<label class='block text-gray-700 font-bold mb-2' for='content'> Content </label>
			<textarea
				class='shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline h-96 resize-none'
				id='content'
				placeholder='Enter blog post content'
			>{{blog.blog_content}}</textarea>
		</div>
		<div class='mb-4'>
			<div class='flex items-center mb-4'>
			<label for='tags'>Choose a tag:</label>

			<select class="ml-4 shadow border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name='tags' id='tags'>
				<option {{selectInput blog.tags "java"}} value='java'>java</option>
				<option {{selectInput blog.tags "node.js"}} value='node.js'>node.js</option>
				<option {{selectInput blog.tags "python2"}} value='python2'>python2</option>
				<option {{selectInput blog.tags "python3"}} value='python3'>python3</option>
				<option {{selectInput blog.tags "sql"}} value='sql'>sql</option>
			</select>
		</div>
		<div class='flex items-center justify-between'>
			<button
				id='submit-button'
				class='bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline'
				type='button'
			>
				Submit

			</button>
		</div>
	</form>
</div>